@tailwind base;
@tailwind components;
@tailwind utilities;


main, nav {
  font-family: var(--custom-font) !important;
}

.legend_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 16px;
	box-shadow:
  0px 8px 10px 1px hsla(0,0%,0%,0.14), 
  0px 3px 14px 2px hsla(0,0%,0%,0.12), 
  0px 5px 5px -3px hsla(0,0%,0%,0.2);
}

.legend_card:hover {
  background: -moz-linear-gradient(-45deg, #222831 15%, #393E46 100%);
  background: -webkit-linear-gradient(-45deg, #222831 15%,#393E46 100%);
  background: linear-gradient(135deg, #222831 15%,#393E46 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222831', endColorstr='#393E46',GradientType=1 );
  transition: 0.9s;
  box-shadow:
  0px 8px 10px 1px hsla(219, 29%, 91%, 0.14), 
  0px 3px 14px 2px hsla(219,29%,91%,0.12), 
  0px 5px 5px -3px hsla(219,29%,91%,0.2);
}

.legend_card-container {
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  background: round;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 308px;
  margin: auto;
  transition: 0.9s;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
}

p {
  font-size: 20px;
}

.slick-slide img{
  filter: brightness(0.6);

}
.slick-current img{
  border: 1px solid #E0E5EE;
  filter: brightness(1);
}

.searchBox {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,50%); */
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  /* padding: 10px; */
}

.searchBox:hover {
  width: 60%;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.selectTag {
  color: white;
  border-radius: 32px;
  width: 20%;
  background: #2f3640;
  padding: 12px;
}

.a-name {
  padding: 8px 4px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.a-name:hover {
  padding: 8px 8px;
  border-radius: 4px;
  color: #087ea4;
  background-color: #defffa;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }

  .selectTag {
    width: 36%;
  }
}

@media screen and (max-width: 368px) {
  .legend_card-container {
    width: 100%;
    background: unset;
  }
}

@media (max-width: 768px) {
  .custom-block {
    display: block !important;
  }

  .mobile_banner {
    height: 400px !important;
    background-size: cover !important;
  }
}

