@tailwind base;
@tailwind components;
@tailwind utilities;


main, nav {
  font-family: var(--custom-font) !important;
}

.legend_card {
  padding: 20px;
  border-radius: 16px;
	box-shadow:
  0px 8px 10px 1px hsla(0,0%,0%,0.14), 
  0px 3px 14px 2px hsla(0,0%,0%,0.12), 
  0px 5px 5px -3px hsla(0,0%,0%,0.2);
}

.legend_card-container {
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  background: round;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
}

p {
  font-size: 20px;
}

.slick-slide img{
  filter: brightness(0.6);

}
.slick-current img{
  border: 1px solid #E0E5EE;
  filter: brightness(1);
}
